<a href="https://colab.research.google.com/github/fredyestradasaez/Practicas/blob/main/funciones_diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# parametros 

CALCULAR EL TOTAL DE UNAS CANTIDADES Y UNOS PRECIOS

In [ ]:
q = [2, 3, 5, 1, 4]
prices = [1000, 2000, 1500, 1500, 2500]

def calculate_total(q_list, prices_list):
    total = 0
    if len(q_list) == len(prices_list):
       for i in range(len(q_list)):
           total += q_list[i] * prices_list[i]
    else:
      print("las listas son de tama√±os diferentes.")
    return total 

total_venta = calculate_total(q, prices)
print(f"ventas totaleas: $(total_venta)")

ventas totaleas: $(total_venta)

#diccionario

In [18]:
fast_food = ("pizza": 14000, "hot dog":10000, "burger":12000, "soda": 1500, "sandwich":5000)

print("Menu:")
for key, value in fast_food, itens():
  print(f"(key)...$(value)")

SyntaxError: ignored

In [ ]:
sales = 0 

def sell_itens(itens_name, quatity):
  if item_name not is sales, keys():
    sales[itens_name] += quantity 

print(sales)
sell_itens("pizza", 1)
sell_itens("hot dog", 1)
sell_itens("suizo", 1)
sell_itens("pizza", 1)